[submodule "Citrine/vendor/spdlog"]
	path = Citrine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Citrine/vendor/GLFW"]
	path = Citrine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Citrine/vendor/imgui"]
	path = Citrine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Citrine/vendor/glm"]
	path = Citrine/vendor/glm
	url = https://github.com/g-truc/glm
