[submodule "Citrine/vendor/spdlog"]
	path = Citrine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Citrine/vendor/GLFW"]
	path = Citrine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
